@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'ebr';
  src: url('../font/ebr.eot');
  src: url('../font/ebr.eot#iefix') format('embedded-opentype'),
       url('../font/ebr.woff') format('woff'),
       url('../font/ebr.ttf') format('truetype'),
       url('../font/ebr.svg#ebr') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    src: url('../font/ebr.svg#ebr') format('svg');
    font-family: 'ebr';
  }
}

/* ------ Basic ------ */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.JEZ_modal, #EBookReader {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}

/*
  Change color depending on the light.
  @link http://www.w3.org/TR/ambient-light/
*/

#EBookReader.dim {
  /* */
}

#EBookReader.normal {
  /* */
}

#EBookReader.bright {
  /* */
}

.JEZ_modal input, #EBookReader input,
.JEZ_modal textarea, #EBookReader textarea {
  resize: none;
  -webkit-user-select: text;
     -moz-user-select: text;
       -o-user-select: text;
          user-select: text;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

/* ------ Modal ------ */

.JEZ_modal {
  background-color: #ccc;
  margin-left: -200px;
  visibility: hidden;
  position: fixed;
  z-index: 65535;
  width: 400px;
  height: auto;
  color: white;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}

.JEZ_modal.show {
  visibility: visible;
}

.JEZ_modal.fade {
  background-color: #656d78;
  opacity: 0;
  -webkit-transform: scale(0.7);
     -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
          transition: all 0.3s;
}

.JEZ_modal h3 {
  background-color: rgba(0, 0, 0, .1);
  text-align: center;
  font-weight: 300;
  padding: 10px;
  opacity: 0.8;
  margin: 0;
}

.JEZ_modal.show.fade {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.JEZ_modal .JEZ_modal_close {
  position: relative;
  cursor: pointer;
  float: right;
  z-index: 2;
  top: 5px;
}

/* ------ EBR ------ */

#EBookReader *, .JEZ_modal * {
  outline: none;
}

#EBookReader .no_select {
  -webkit-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;
}

#EBookReader [class*=' icon-']:before,
#EBookReader [class^='icon-']:before,
.JEZ_modal [class*=' icon-']:before,
.JEZ_modal [class^='icon-']:before {
  text-shadow: 1px 1px 1px rgba(127, 127, 127, .3);
  text-decoration: inherit;
  display: inline-block;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-family: 'ebr';
  font-style: normal;
  margin-right: .2em;
  text-align: center;
  margin-left: .2em;
  line-height: 1em;
  font-size: 120%;
  speak: none; 
  width: 1em;
}

#EBookReader .icon-resize-small-alt:before {content: '\e806';}
#EBookReader .icon-resize-full-alt:before {content: '\e805';}
#EBookReader .icon-book-open:before {content: '\e80e';}
#EBookReader .icon-forward-1:before {content: '\e812';}
#EBookReader .icon-zoom-out:before {content: '\e808';}
#EBookReader .icon-backward:before {content: '\e811';}
#EBookReader .icon-doc-text:before {content: '\e80f';}
#EBookReader .icon-adjust-1:before {content: '\e801';}
#EBookReader .icon-th-list:before {content: '\e802';}
#EBookReader .icon-zoom-in:before {content: '\e807';}
#EBookReader .icon-forward:before {content: '\e80c';}
#EBookReader .icon-print:before {content: '\e80a';}
#EBookReader .icon-spin5:before {content: '\e800';}
#EBookReader .icon-reply:before {content: '\e80b';}
#EBookReader .icon-ccw:before {content: '\e809';}
#EBookReader .icon-cw:before {content: '\e80d';}
#EBookReader .icon-cancel:before,
.JEZ_modal .icon-cancel:before {
  content: '\e810';
}

#EBookReader .EBR_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#EBookReader .EBR_wrapper.dim {
}

#EBookReader .EBR_wrapper.normal {
}

#EBookReader .EBR_wrapper.bright {
}

/* ------ ToolBar ------ */

#EBookReader .EBR_toolbar {
  border-bottom: 1px solid #ccc;
  height: 40px;
}

#EBookReader .EBR_toolbar.hide {
  height: 10px;
  opacity: .2;
  overflow: hidden;
}

#EBookReader .EBR_pagination_wrapper,
#EBookReader .EBR_chapters_wrapper,
#EBookReader .EBR_buttons_wrapper,
#EBookReader .EBR_search_wrapper,
#EBookReader .EBR_print_wrapper {
  display: inline-block;
}

#EBookReader .EBR_chapters_wrapper,
#EBookReader .EBR_search_wrapper,
#EBookReader .EBR_print_wrapper {
  display: none;
}

#EBookReader .EBR_button {
  background-color: #656d78;
  border: 1px solid #434a54;
  vertical-align: middle;
  text-decoration: none;
  text-transform: none;
  white-space: normal;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding: 7px 9px;
  cursor: pointer;
  color: white;
  margin: 1px;
  -webkit-transition: all 0.15s ease;
     -moz-transition: all 0.15s ease;
          transition: all 0.15s ease;
}

#EBookReader .EBR_pagination_input {
  color: rgba(0, 0, 0, .75);
  border: 1px solid #ccc;
  text-align: center;
  width: 30px;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
     -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
          transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#EBookReader.non_mobile .EBR_button:hover,
#EBookReader.mobile .EBR_button:active {
  background-color: #ccc;
}

#EBookReader.non_mobile .EBR_button:active,
#EBookReader .EBR_button.active {
  background-color: #999;
}

/* ------ Thumbnails ------ */

#EBookReader .EBR_thumbnails {
  display: none;
  float: left;
  width: 150px;
  min-height: 100px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
}

#EBookReader .EBR_thumbnails .EBR_thumbnail_img {
  cursor: pointer;
  border: 1px dotted #ccc;
  opacity: .5;
}

#EBookReader .EBR_thumbnails .EBR_thumbnail_img.active {
  border: 1px solid #f00;
  opacity: 1;
}

/* ------ SideBar ------ */

/* ------ Page Viewer ------ */

#EBookReader .EBR_page_view {
  overflow-x: hidden;
  overflow: scroll;
  height: 300px;
  width: auto;
}

#EBookReader .EBR_page_container {
  position: relative;
  z-index: 200;
}

#EBookReader .EBR_single_page_container figure {
  margin: 0;
}

#EBookReader .EBR_page_container .EBR_images {
  border: 3px solid #ccc;
  vertical-align: middle;
  position: absolute;
  display: block;
  margin: 0 auto;
  image-rendering: optimizeSpeed;             /* Legal fallback */
  image-rendering: -moz-crisp-edges;          /* Firefox        */
  image-rendering: -o-crisp-edges;            /* Opera          */
  image-rendering: -webkit-optimize-contrast; /* Safari         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed  */
  image-rendering: crisp-edges;               /* CSS4 Proposed  */
  image-rendering: pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+           */
}

/* ------ Invert ------ */

#EBookReader .EBR_page_container.invert .EBR_images {
  outline-color: invert;
  -webkit-filter: invert(100%);
          filter: invert(100%);
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
}

/* ------ Rotate ------ */

#EBookReader .EBR_page_container .EBR_images {
	-webkit-transition: all 0.5s linear;
	   -moz-transition: all 0.5s linear;
     	-ms-transition: all 0.5s linear;
	     -o-transition: all 0.5s linear;
        	transition: all 0.5s linear;
}

#EBookReader .EBR_page_container.angle_90 .EBR_images {
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  /* Fix positions */
  -webkit-transform-origin: bottom left; /* Chrome, Safari, Opera */
      -ms-transform-origin: bottom left; /* IE 9 */
          transform-origin: bottom left;
}


#EBookReader .EBR_page_container.angle_180 .EBR_images {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#EBookReader .EBR_page_container.angle_270 .EBR_images {
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  /* Fix positions */
  -webkit-transform-origin: top left; /* Chrome, Safari, Opera */
      -ms-transform-origin: top left; /* IE 9 */
          transform-origin: top left;
}

/* ------ Print ------ */

.JEZ_modal_content {
  font-size: 90%;
  padding: 7px;
}

.EBR_print_title {
  margin-bottom: 3px;
  font-weight: bold;
  margin-top: 5px;
}

.EBR_print_pages {
  color: rgba(0, 0, 0, .75);
  border: 1px solid #ccc;
  width: 30px;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
     -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
          transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
          box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

#EBR_goto_print {
  border: 1px solid #434a54;
  background-color: #656d78;
  margin: 10px auto;
  padding: 0 10px;
  font-size: 130%;
  display: block;
  color: white;
}

.EBR_print_selector, .EBR_paper_type {
  position: relative;
  top: 2px;
}

/* ------ FullScreen ------ */

.EBR_overlay {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 65534;
  left: 0;
  top: 0;
}

#EBookReader:-webkit-full-screen {
  background: white;
  position: fixed;
  z-index: 65535;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#EBookReader:-moz-full-screen {
  background: white;
  position: fixed;
  z-index: 65535;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}


#EBookReader:-ms-fullscreen {
  background: white;
  position: fixed;
  z-index: 65535;
  margin: auto;
  height: auto;
  width: auto;
  left: 0;
  top: 0;
}

#EBookReader:fullscreen {
  background: white;
  position: fixed;
  z-index: 65535;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#EBookReader:-webkit-full-screen .EBR_page_view {
  /* */
}

#EBookReader:-moz-full-screen .EBR_page_view {
  /* */
}

#EBookReader:-ms-full-screen .EBR_page_view {
  /* */
}

#EBookReader:full-screen .EBR_page_view {
  /* */
}

#EBookReader.full_screen {
  /* */
}

/* ------ Responsive design ------ */

@media (min-width: 1200px) {
  #EBookReader [class*=' icon-']:before,
  #EBookReader [class^='icon-']:before {
    font-size: 130%;
  }
}

@media screen and (max-width: 740px) {
  #EBookReader [class*=' icon-']:before,
  #EBookReader [class^='icon-']:before {
    font-size: 100%;
  }

  #EBR_button_single_screen_mode,
  #EBR_button_dual_screen_mode,
  .EBR_pagination_wrapper,
  #EBR_button_thumbnails,
  #EBR_button_fullscreen,
  .EBR_chapters_wrapper {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  #EBookReader [class*=' icon-']:before,
  #EBookReader [class^='icon-']:before {
    font-size: 80%;
  }
}

@media screen and (max-width:400px) {
  #EBR_button_previous_page,
  #EBR_button_next_page {
    display: none;
  }
}
